<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h2><a href="/">UNITUNES</a></h2>
        <nav>
            <a href="/loging">Log In</a>
        </nav>
    </header>

    <main>
        <h3>Loging page</h3>
        <p>Under developping!!!</p>
    </main>

    <footer>
        <small>&copy; softwere project -  group 13</small>
    </footer>
    
</body>
</html>
